sesi-01/Include/
sesi-01/Lib/
sesi-01/Scripts/
sesi-01/pyvenv.cfg
sesi-02/Include/
sesi-02/Lib/
sesi-02/Scripts/
sesi-02/pyvenv.cfg
sesi-07/myapp/Include/
sesi-07/myapp/Lib/
sesi-07/myapp/Scripts/
sesi-07/myapp/pyvenv.cfg
sesi-08/myapp/Include/
sesi-08/myapp/Lib/
sesi-08/myapp/Scripts/
sesi-08/myapp/pyvenv.cfg
sesi-09/myapp/Include/
sesi-09/myapp/Lib/
sesi-09/myapp/Scripts/
sesi-09/myapp/pyvenv.cfg
sesi-10/practiceapp/Include/
sesi-10/practiceapp/Lib/
sesi-10/practiceapp/Scripts/
sesi-10/practiceapp/pyvenv.cfg
