<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
</head>
<body>
    <p> List of Book Authored by Id {{ author_id }}</p>
    <p> {{ list_books | default('--this author has no book published--') }}</p>
    <ul>
        {% for book in list_books%}
        <li>{{ book | title }}</li>
        {% endfor %}
    </ul>


</body>
</html>